html, body {
	min-height: 100%;
}

.container {
	padding-top: 24px;
}

.subpage,
.progress {
	display: none; position: relative; width: 80%; margin: 0 auto;
}

#header {
	position: relative;
	width: 80%; margin: 0 auto;
}

#logo {
	position: absolute;
	left: -100px;
	max-width: 100px;
	margin-top: 16px;
}

#instructions h4,
#instructions p {
	text-align: center;
}

#instructions p {
	font-size: 1.2em;
}

#result h4 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.title {
	margin-bottom: 0;
}

.slogan {
	font-style: italic;
}

.progress {
	height: 24px;
	background: #D32931;
	position: fixed;
	bottom: 0;
	left: 0;
}

.movement-wrapper {
	width: 50%;
	height: 50%;
	margin: 0 auto;
}

	.movement {
		margin: auto auto;
		border-radius: 50%;
		background: #D32931;
		position: relative;
		top: 50%;
	}

.status {
	text-align: center;
}

.status h5 {
	margin-bottom: 0;
}

.status .status-item {
	display: inline-block;
	background: red;
	width:100px; height: 100px;
}

.video-wrapper {
    width:100%; display:block; position:relative;
    background:#000; }

.video-wrapper:after {
    padding-top:56.25%; /*16:9 ratio*/
    display:block; content:''; }
    
    .video-wrapper > #player {
        position:absolute;
        top:0; bottom:0; right:0; left:0; }

.itunes {
	width: 32px; height: 32px;
	float: left;
	margin-top: 5px;
	margin-right: 5px;
	background: url(../img/itunes.png) no-repeat center;
	background-size: contain;
}
